/* styles.css */
.modal {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal h2{
    margin-right:0% !important;
  }

  .change-password{
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .error {
    color: red;
  }
  
  .password{
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  .modal .buttons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .modal .buttons button {
    width: 48% !important; /* Ensures both buttons have equal width within the modal */
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }