
.user-admin {
  height:100vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  h2{
    margin:50px 0px;
    
  }
.search-container{
  display:flex;
  flex-direction: row;
  width:100%;
  margin-left:180px;
}
.search-bar{
  width:80%;
  margin-right:20px;
}
.all{
  width:8%;
  height:40px;
  margin-top: 10px;
}

  .user-admin table {
    width: 90%;
    border-collapse: collapse;
  }
  
  .user-admin th, .user-admin td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-admin th {
    background-color: #007bff;
  }
  