.user-management {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns items vertically in the center */
    align-items: center;     /* Aligns items horizontally in the center */
    height: 100vh;           /* Full viewport height */
    width:1000px;
    padding: 20px;
    background-color: #f9f9f9; /* Optional background color */
  }
  
  .user-management h2 {
    margin-right: 45%;
    font-size: 1.5rem;
    color: #333;              /* Dark text color */
  }
  
  .user-management button {
    width:20%;
    margin: 10px 0;           /* Vertical spacing between buttons */
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff; /* Primary button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  .user-management button:hover {
    background-color: #0056b3; /* Darker color on hover */
  }
  
  .user-management button:focus {
    outline: none;
  }

  .email-container{
    margin-top:-120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    width:100%;
    height:5vh;
  }

  .user-management button:first-child {
    width:10%;
    align-self: start;    /* Aligns the back button to the left (or start) */
    background-color: #6c757d; /* Different color for back button */
    color: white;
    margin-right:35%;
  }
  
  .user-management button:first-child:hover {
    background-color: #5a6268; /* Darker color on hover for back button */
  }
  
  /* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  margin:0 5px;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.modal-buttons button:last-child {
  background-color: #6c757d;
}

.modal-buttons button:last-child:hover {
  background-color: #5a6268;
}

