* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-teal: #49c6b9;
  --primary-navy: #191e72;
  --secondary-coral: #f96065;
  --secondary-yellow: #fec24d;
  --secondary-grey: #3a3a3c;
  --global-black: #1D1E3A;
  --global-white: #fff;
  --global-grey1: #F1F2F3;
  --global-grey2: #D8D9DE;
  --global-grey3: #C1C2CD;
  --global-grey4: #A6A8B9;
  --global-grey5: #8E8FA9;
  --global-grey6: #717398;
  --global-grey7: #5C5E84;
  --global-grey8: #474A6B;
  --global-grey9: #343655;
  --status-success: #5DE5B5;
  --status-warning: #FEB934;
  --status-error: #F8494F;
  --status-info: #357CED;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.highlight {
  position:absolute;
  /* z-index: -1; */
  height:400px;
  width:650px;
  top:100%;
  border-radius:100%;
  opacity:15%;
  mix-blend-mode: overlay;
  background: linear-gradient(
    rgba(250,250,250,100%),
    rgba(250,250,250,0%)
  );
  filter: blur(6px);
}

/* ---- Ant Design Custom CSS ---- */
/*H1*/
h1.ant-typography {
  font-weight: 700;
}

/*H2*/
h2.ant-typography {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

/*H3*/
h3.ant-typography {
  font-weight: 600;
}

/*H4*/
h4.ant-typography {
  font-weight: 600;
}

/*H5*/
h5.ant-typography {
  font-weight: 700;
}

/*H6*/
.customH6,
.ant-drawer-title
{
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/*Button*/
a {
  text-decoration: underline;
}

.ant-pagination a {
  text-decoration:none;
}

.ant-btn {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: var(--primary-teal) !important;
  border: solid 1px var(--primary-teal);
  box-shadow: 0 2px 0 0 rgba(73, 198, 185, 0.1);
  border-radius: 40px;
  padding: 4px 20px;
}

.ant-btn-default {
  background-color: #fff !important;
  color: var(--primary-teal);
}

.ant-btn:hover,
.ant-btn-default:hover {
  background-color: #6FD2C8 !important;
  color: #fff !important;
}

.ant-btn:active,
.ant-btn-default:active {
  background-color: #3DD1C2 !important;
  color: #fff !important;
}

.ant-btn-disabled,
.ant-btn-disabled:hover,
.ant-btn-disabled:active,
.ant-btn:disabled {
  background-color: var(--global-grey1) !important;
  border-color: var(--global-grey2) !important;
  color: var(--global-grey4) !important;
}

/*Form*/
.ant-form-item-label label {
  width:auto;
  font-weight: 400;
}

.ant-select {
  text-align: left;
}

.ant-upload-drag {
  border-radius: 8px !important;
}

.ant-upload-list-item {
  height:auto !important;
  padding: 8px !important;
  border-radius: 4px;
  color: var(--primary-teal);
  text-align: left;
}

.ant-upload-list-item:hover {
 background-color: rgba(73,198,185,.1) !important;
}

.ant-upload-list-item .ant-btn {
  background-color: transparent !important;
  box-shadow: none;
}

/*Search*/
.ant-input-search {
  min-width:400px;
}

.ant-input-search-button {
  border-radius:8px;
}

/*Modal*/
.ant-modal-content {
  padding: 32px 24px !important;
  box-shadow:
  -0 4px 4px 0 rgba(0, 0, 0, 0.1),
  0 4px 8px 8px rgba(0, 0, 0, 0.05) !important;
}

/* Modal - Mobile */
@media (max-width: 480px) {
  .change-password-modal .ant-modal-content {
    padding: 16px 24px !important; 
    margin: 0 auto; 
    max-width: 100%; 
    width: 90%; 
  }

  .ant-modal-footer {
    padding: 8px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 8px; 
  }

  .ant-modal-footer .ant-btn {
    flex: 1 1 auto;     
    max-width: 100%;
    text-align: center;
    margin-left: 0 !important;
  }
}


/*NavBar*/
.navBar {
  background-color: var(--global-white);
  box-shadow: 0 2px 4px 1px #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar .ant-btn {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  color: var(--global-grey4) !important;
}

.navBar .ant-btn:hover,
.navBar .ant-btn:active
{
  color: var(--primary-teal) !important;
}

.ant-dropdown-menu {
  border-radius: 8px !important;
}

.ant-dropdown-menu a {
  text-decoration: none ;
  color: var(--global-black)
}

.ant-dropdown-menu-item:last-child a {
  color: var(--primary-teal) !important;
}

/* NavBar Mobile */
@media (max-width: 480px) {
  .navBar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: var(--global-white); 
    box-shadow: 0 2px 4px 1px #f5f5f5; 
    padding: 0 16px; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    box-sizing: border-box; 
  }

  .navBar .ant-space-item:first-child {
    margin-right: auto; 
  }

  .navBar .ant-btn {
    margin-left: auto; 
  }

  .navBar img {
    max-width: 48px; 
    height: auto; 
  }
}


/*Card*/
.ant-card .ant-card-body{
padding: 48px 24px;
}

/*Space*/
.ant-space {
  width:100%;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-space-item {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Message / Snackbar*/
.ant-message {
  top: unset !important;
  bottom: 64px;
}

/*Table*/
.ant-table-wrapper{
  width:100%;
}

.ant-table-cell {
  border-radius: 0 !important;
  border: 0px 0px 1px 0px solid var(--global-grey1);
  text-align: left;
}

.ant-table-row {
  background-color: unset !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td{
  background-color: rgba(73,198,185,.1) !important;
}

/* .ant-table-expanded-row-fixed {
  padding: 0 !important;
  margin: 0 !important;
} */

.ant-table-row-expand-icon:hover {
  background-color: var(--global-white) !important;
}

.ant-table-expanded-row > .ant-table-cell{
  padding:0 !important;
}

.ant-table-expanded-row .ant-table {
  margin-block: 0 !important;
  margin-inline: 0 !important;
}

.ant-table-expanded-row table {
  margin-bottom: 0;  
}

.ant-table-expanded-row .ant-table-row {
  background-color: #f7f7f7 !important;
}

.ant-table-expanded-row .ant-table-thead {
  display:none;
}

/*Login & Reg Layout*/
.layoutLogInReg{
  width:100vw;
  height:100vh;
  background-color: var(--global-white);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.layoutLogInReg .ant-typography {
  margin-bottom:0;
}

.layoutLogInReg .ant-btn {
  min-width:150px;
}

.layoutRedirectLog {
  width:40%;
  min-width: 400px;
  max-width:600px;
  background: radial-gradient(
      circle at 50% 0%,
      #A4EAE2,
      var(--primary-teal) 100%  
    )
  ;
  color: var(--global-white);
  text-align: center;
  padding:48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutRedirectReg {
  width:40%;
  min-width: 400px;
  max-width:600px;
  background: radial-gradient(
      circle at 50% 0%,
      #4349AD,
      var(--primary-navy) 100%  
    )
  ;
  color: var(--global-white);
  text-align: center;
  padding:48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutRedirectLog .ant-typography,
.layoutRedirectReg .ant-typography
{
  color: var(--global-white);
}

.layoutRedirectLog .ant-space,
.layoutRedirectReg .ant-space
{
  max-width:415px;
}

.layoutLoginRegForm {
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  position:relative;
}

.logoLoginReg {
  position:absolute;
  top:64px;
  left:64px;
  justify-content: start;
  align-items: start;
}

.logoLoginReg .ant-space-item {
  display: flex;
  justify-content: start;
  align-items: start;
  width: fit-content;
}

/*Login Mobile*/
@media (max-width: 480px) {
  .layoutLogInReg {
    display: flex;
    flex-direction: column; 
    align-items: stretch;
    justify-content: space-between; 
    width: 100%; 
    height: 100vh; 
    margin-top: 40px; 
    padding: 0; 
    box-sizing: border-box; 
    overflow: hidden; 
  }

  .layoutRedirectLog {
    order: 2; 
    flex-grow: 1;
    width: 100%; 
    padding: 24px; 
    background: radial-gradient(
      circle at 50% 0%,
      #A4EAE2,
      var(--primary-teal) 100%
    ); 
    box-sizing: border-box; 
    text-align: center; 
  }

  .layoutLoginRegForm {
    order: 1; 
    flex-grow: 1;
    width: 100%; 
    padding: 24px 16px; 
    margin: 0; 
    background-color: var(--global-white); 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  .logoLoginReg {
    position: fixed; 
    top: 8px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    z-index: 100; 
    background-color: var(--global-white); 
    padding: 4px 8px; 
    width: auto; 
  }

  .logoLoginReg img {
    max-width: 100px; 
    height: auto; 
    margin-right: 8px; 
  }

  .logoLoginReg h3 {
    font-size: 1rem;
    color: var(--global-grey7); 
    margin: 0; 
  }

  .layoutLoginRegForm h1 {
    font-size: 1.4rem; 
    line-height: 1.2; 
    text-align: center; 
  }

  .layoutRedirectLog h1 {
    font-size: 1.4rem; 
    line-height: 1.2; 
    text-align: center; 
  }
}

/* Registration Mobile */
@media (max-width: 480px) {
  .layoutLogInReg {
    display: flex;
    flex-direction: column; 
    align-items: stretch;
    justify-content: space-between; 
    width: 100%; 
    height: 100vh;
    margin-top: 40px; 
    padding: 0; 
    box-sizing: border-box; 
    overflow: hidden; 
  }

  .layoutRedirectReg {  
    order: 2; 
    flex-grow: 1;
    width: 100%; 
    padding: 24px; 
    margin: 0; 
    background: radial-gradient(
      circle at 50% 0%,
      #4349AD,
      var(--primary-navy) 100%
    ); 
    box-sizing: border-box; 
    text-align: center; 
  }

  .layoutLoginRegForm {
    order: 1; 
    flex-grow: 1;
    width: 100%; 
    padding: 24px 16px; 
    margin: 0; 
    background-color: var(--global-white); 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  .logoLoginReg {
    position: fixed; 
    top: 8px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    z-index: 100; 
    background-color: var(--global-white); 
    padding: 4px 8px; 
    width: auto; 
  }

  .logoLoginReg img {
    max-width: 100px; 
    height: auto; 
    margin-right: 8px; 
  }

  .logoLoginReg h3 {
    font-size: 1rem; 
    color: var(--global-grey7); 
    margin: 0; 
  }

  .layoutLoginRegForm h1 {
    font-size: 1.4rem; 
    line-height: 1.2; 
    text-align: center; 
  }

  .layoutRedirectReg h1 {
    font-size: 1.4rem; 
    line-height: 1.2; 
    text-align: center; 
  }
}

/*Module Selection Layout*/
.layoutModuleSelect,
.layoutInterviewComplete
{
  width:100vw;
  height:100vh;
  background: linear-gradient(
    var(--global-white),
    #f7f7f7
  );
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layoutModSelContent,
.layoutIntCompContent
{
  max-width: 450px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.layoutModSelContent .ant-select {
  text-align:left;
}

/* Module Selection Mobile */
@media (max-width: 480px) {
  .layoutModuleSelect,
  .layoutInterviewComplete {
    width: 100%; 
    height: 100vh; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(
      var(--global-white),
      #f7f7f7
    ); 
    box-sizing: border-box;
  }

  .layoutModSelContent,
  .layoutIntCompContent {
    max-width: 90%; 
    padding: 16px; 
    gap: 24px; 
    text-align: center; 
  }

  .layoutModSelContent .ant-select {
    width: 100%; 
    text-align: left; 
  }

  .layoutModSelContent .ant-btn {
    width: 100%; 
    padding: 12px; 
    font-size: 0.7rem; 
  }

  .layoutModSelContent h3.ant-typography {
    font-size: 1.2rem !important; 
    margin-bottom: 8px !important; 
  }
}

/* Interview Complete Mobile */
@media (max-width: 480px) {
  .layoutInterviewComplete {
    width: 100%;
    height: 100vh;
    padding: 16px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(var(--global-white), #f7f7f7); 
    box-sizing: border-box;
  }

  .layoutIntCompContent {
    width: 100%;
    max-width: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 16px; 
  }

  .layoutIntCompContent .ant-typography h3 {
    font-size: 1.4rem; 
    color: #191e72;
    margin-bottom: 8px;
  }

  .layoutIntCompContent .ant-typography p {
    font-size: 1rem; 
    margin-bottom: 16px; 
  }

  .layoutIntCompContent .ant-space {
    flex-direction: column; 
    align-items: center; 
    gap: 16px; 
  }

  .layoutIntCompContent .ant-btn {
    width: 100%; 
    padding: 12px; 
    font-size: 0.6rem; 
  }
}

/*Module Interview Layout*/
.layoutInterview,
.layoutInterviewHist,
.layoutAddModule,
.layoutEditModule,
.layoutUserLog,
.layoutEditUser
{
  width:calc(100vw - 16px);
  background: var(--global-white);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
}

.layoutInterviewContent,
.layoutIntHistContent,
.layoutAddModuleContent,
.layoutEditModuleContent,
.layoutUserLogContent,
.layoutEditUserContent
{
  /* margin:auto; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 48px 62.5px;
  gap: 24px;
}

.layoutInterviewContent .ant-card {
  width: 100%;
}

.layoutInterviewContent .ant-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.interviewControl {
  width: 100%;
  background: #f7f7f7;
  border-radius: 16px;
  padding: 32px 48px;
}

.layoutInterviewContent .userIcon {
  font-size: 120px;
  color: var(--primary-teal);
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 100px;
  width: fit-content;
}

.interviewDiv {
  border-color: var(--global-grey1);
  margin: -1px;
  height: inherit;
}

.interviewCol1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.interviewCol2 {
  min-height: 400px;
  padding: 64px 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.interviewCol2 .customH6 {
  color: var(--primary-navy);
}

/* Styles for different statuses */
.interviewStatus {
  width: fit-content;
  padding: 4px 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  box-shadow: none !important;
}

.interviewStatus .ant-typography {
  color:inherit;
}

.interviewStatus .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.idle-status .dot {
  background-color: var(--global-grey4);
}

.listening-status .dot {
  background-color: var(--status-info);
}

.live-status .dot {
  background-color: var(--status-success);
}

.processing-status .dot {
  background-color: var(--secondary-coral);
}


.status-border {
  padding: 8px;
  border-width: 5px;
  border-style: solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.idle-status {
  border-color: var(--global-grey2);
  color: var(--global-grey4);
}

.listening-status {
  border-color: var(--status-info);
  color: var(--status-info);
  box-shadow: 0 4px 8px 0 rgba(53,124,237,.25);
}

.live-status {
  border-color: var(--status-success);
  color: var(--status-success);
  box-shadow: 0 4px 8px 0 rgba(93,229,181,.25);
}

.processing-status {
  border-color: var(--secondary-coral);
  color: var(--secondary-coral);
  box-shadow: 0 4px 8px 0 rgba(249, 96, 101, 0.25);;
}

.record-button.processing {
  background-color: var(--status-info);
}


/* Exit button */
.exit-button {
  background-color: var(--secondary-coral) !important; 
  border-color: var(--secondary-coral) !important;
}

.exit-button:disabled {
  background-color: var(--global-grey1);
  border-color: var(--global-grey2);
  color: var(--global-grey4);
  cursor: not-allowed;
}

.exit-button:disabled:hover {
  background-color: var(--global-grey1) !important;
  border-color: var(--global-grey2)!important;
  color: var(--global-grey4) !important;
}

.exit-button:hover {
  background-color: #fb757a !important;
}

.exit-button:focus {
  background-color: var(--secondary-coral);
}

.exit-button:active {
  background-color: var(--secondary-coral);
}

/*Attachment Button*/
.attachment-button {
  position: absolute;
  right: 0;
}

.interviewControl .ant-space-item:nth-child(1) {
  position: relative;
}

/*Drawer*/
.ant-drawer-close {
  padding:16px;
  border-radius: 50% !important;
}

.attachment-link {
  padding: 12px 24px;
  width:100%;
  justify-content: space-between;
  border-radius: 4px;
}

.attachment-link .ant-space-item {
  width:auto;
}

.attachment-link:hover {
  background: rgba(73,198,185,.1);
}

.attachment-link .anticon{
  font-size: 20px;
  color: var(--global-grey4);
  transition: 0.3s;
}

.attachment-link:hover .anticon{
  color: var(--primary-teal);
}

/* Interview History Mobile */
@media (max-width: 480px) {
  .layoutIntHistContent {
    padding: 16px; 
    text-align: left;
    gap: 12px; 
    overflow-x: auto; 
    margin: 20px 8px;
    padding: 100px 0;
  }

  .layoutIntHistContent .ant-table {
    font-size: 14px;  
    width: 100%;  
    table-layout: auto;  
  }

  .layoutIntHistContent .ant-table th, 
  .layoutIntHistContent .ant-table td {
    word-wrap: break-word;
    white-space: nowrap;  
  }

  .layoutIntHistContent h3 {
    font-size: 1.2rem;  
    margin-top: 0; 
  }

  .layoutIntHistContent .ant-btn {
    font-size: 14px;
    width: 100%;
    margin-top: 16px;
  }

  .layoutIntHistContent .ant-pagination {
    display: flex;
    justify-content: flex-end;
  }
}

/* Interview Mobile */
@media (max-width: 480px) {
  .layoutInterviewContent {
    display: flex;
    flex-direction: column; 
  }

  .interviewCol2 {
    order: 1; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%;
    padding: 8px 16px;
    min-height: 210px;
  }


  .interviewCol2 .customH6,
  .interviewCol2 .ant-typography {
    font-size: 1rem; 
    width: 100%; 
  }


  .interviewCol1 {
    order: 2; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-self: center;
    gap: 5px;
    width: 100%;
    margin-top: 30px;
  }

  .userIcon {
    font-size: 120px;
    color: var(--primary-teal);
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 100px;
    width: fit-content;
  }

  .interviewDiv {
    display: none; 
  }

  .interviewControl .ant-space-horizontal {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 16px; 
  }

  .interviewControl .ant-space-horizontal {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 16px; 
  }

  .interviewStatus {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem; 
    display: flex; 
    align-items: center;
    justify-content: center; 
  }

  .interviewDiv {
    display: none; 
  }

  .attachment-button {
    display: none;
  }

  .interviewControlButtons .ant-btn-primary {
    width: 100%;  
  }

  .layoutInterviewContent {
    padding: 16px; 
    padding-top: 64px; 
  }

  .interviewControlButtons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 16px; 
    width: 100% !important; 
  }
}

/*Module List Layout*/
.layoutModuleList
{
  width:calc(100vw - 16px);
  background: var(--global-white);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
}

.layoutModuleListContent
{
  /* margin:auto; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 48px 62.5px;
  gap: 24px;
}

.layoutModuleListContent .ant-table-thead > tr > th{
  text-align: center !important;
  vertical-align: middle;
  padding: 12px;
  white-space: nowrap;
}

.layoutModuleListContent .ant-table-tbody > tr > td {
  padding: 12px;
  text-align: center;
  white-space: nowrap;
}

.layoutUserLogContent .ant-table-thead > tr > th{
  text-align: center !important;
  vertical-align: middle !important;
  white-space: nowrap;
}
 
.layoutUserLogContent .ant-table-tbody > tr > td {
  text-align: center !important;
  vertical-align: middle !important;
  white-space: nowrap;
}

.delete-button {
  background-color: var(--secondary-coral) !important; 
  border-color: var(--secondary-coral) !important;
}

.delete-button:hover {
  background-color: #fb757a !important;
}

.delete-button:focus {
  background-color: var(--secondary-coral);
}

.delete-button:active {
  background-color: var(--secondary-coral);
}



/*Admin Pages*/
.layoutAddModuleContent,
.layoutEditModuleContent,
.layoutEditUserContent
{
  min-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 48px 0;
  gap: 24px;
}

.layoutAddModuleContent .ant-card, 
.layoutEditModuleContent .ant-card , 
.layoutEditUserContent .ant-card 
{
  width:100%;
}

.layoutEditUserContent .ant-card-body {
  justify-items: flex-start;
}

.spaceContentStart {
  justify-content: flex-start;
  margin-bottom: 12px;
  align-items: baseline;
}

.spaceContentBetween {
  justify-content: space-between;
}

.spaceContentStart > *,
.spaceContentBetween > *
{
  width: auto;
}

.linkDelete {
  color: var(--secondary-coral) !important;
}

.spaceStacked {
  align-items: flex-start;
}

.spaceStacked .ant-space-item:nth-child(2),
.spaceStackedAll .ant-space-item
{
  width:auto;
}

/* Module List mobile */
@media (max-width: 480px) {
  .layoutModuleListContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 80px auto;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
  }

  .layoutModuleListContent .ant-table {
    font-size: 12px;
    min-width: 500px;
    margin: 0 auto;
  }

  .layoutModuleListContent .ant-table-thead > tr > th{
    text-align: center !important;
    vertical-align: middle;
    padding: 12px;
    white-space: nowrap;
  }

  .layoutModuleListContent .ant-table-tbody > tr > td {
    padding: 12px;
    text-align: center;
    white-space: nowrap;
  }

  .layoutModuleListContent > .ant-row:first-child {
    margin-top: 30px;
    text-align: center;
  }

  .layoutModuleListContent .ant-typography {
    margin-bottom: 16px;
    text-align: center;
  }

  .layoutModuleListContent .ant-table-wrapper {
    overflow-x: scroll;
    width: 100%;
  }

  .layoutModuleListContent .ant-table-cell .ant-btn {
    width: auto;
    height: 36px;
    font-size: 12px;
    padding: 0 16px;
    text-align: center;
  }

  .layoutModuleListContent .ant-table-cell > .ant-row {
    gap: 8px !important;
    justify-content: center;
  }

  .layoutModuleListContent .ant-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px; 
  }
}


/*Add Module, Edit Module Mobile*/
@media (max-width: 480px) {
  .layoutAddModuleContent,
  .layoutEditModuleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    min-width: 0;
    padding: 80px 20px 16px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 0;
  }

  .layoutAddModuleContent a,
  .layoutEditModuleContent a {
    display: block;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
  }

  .layoutAddModuleContent .ant-card,
  .layoutEditModuleContent .ant-card  {
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    padding: 4px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .layoutAddModuleContent .ant-card-body,
  .layoutEditModuleContent .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  32px 0px !important;
  }

  .layoutAddModuleContent .ant-space,
  .layoutEditModuleContent .ant-space {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0px auto;
    gap: 16px;
  }

  .layoutAddModuleContent .ant-form-item,
  .layoutEditModuleContent .ant-form-item {
    width: 90%;
    max-width: 100%;
    margin:0 auto 16px;
  }

  .layoutAddModuleContent .ant-form-item-label,
  .layoutEditModuleContent .ant-form-item-label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .layoutAddModuleContent .ant-input,
  .layoutAddModuleContent .ant-textarea,
  .layoutEditModuleContent .ant-input,
  .layoutEditModuleContent .ant-textarea {
    border: 1px solid #d9d9d9 !important;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
  }

  .layoutAddModuleContent .ant-input:focus,
  .layoutAddModuleContent .ant-textarea:focus,
  .layoutEditModuleContent .ant-input:focus,
  .layoutEditModuleContent .ant-textarea:focus {
    border-color: #4dbdb1 !important;
    outline: none;
  }

  .layoutAddModuleContent .ant-input,
  .layoutAddModuleContent .ant-select,
  .layoutAddModuleContent .ant-textarea,
  .layoutEditModuleContent .ant-input,
  .layoutEditModuleContent .ant-select,
  .layoutEditModuleContent .ant-textarea {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .layoutAddModuleContent .ant-btn,
  .layoutEditModuleContent .ant-btn {
    width: auto;
    padding: 12px 16px;
    max-width: 160px;
  }

  .layoutAddModuleContent .ant-space .ant-btn,
  .layoutEditModuleContent .ant-space .ant-btn {
    margin: 0;
  }
}


/*Edit User Mobile*/
@media (max-width: 480px) {
  .layoutEditUserContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    min-width: 0;
    padding: 40px 20px 16px;
    box-sizing: border-box;
    margin: 0;
    gap:24px;
    overflow-x: hidden;
  }

  .layoutEditUserContent .ant-card {
    width: 100%;
    max-width: 400px;
    margin: 5px auto;
    padding: 8px 16px;
    box-sizing: border-box;
  }

  .layoutEditUserContent .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding:32px 12px;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: nowrap;
  }

  .layoutEditUserContent .back-to-logs {
    margin-top: 70px;
    align-self: flex-start;
  }

  .layoutEditUserContent .ant-card-body .ant-space .ant-space-item:nth-child(4) .ant-space-item:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }

  .layoutEditUserContent .ant-card-body .ant-space-item:nth-child(4) .ant-space {
    display:flex;
    flex-direction: column;
    gap:8px;
  }
  
  .layoutEditUserContent .ant-card-body .ant-space-item .download-link,
  .layoutEditUserContent .ant-card-body .ant-space-item .linkDelete {
    text-align: center;
    line-height: 1.2;
    margin-top: 8px;
  }

  .layoutEditUserContent .ant-btn{
    margin-top:24px !important;
    padding:10px;
    font-size:10px;
  }
}

/*User Logs Mobile*/
@media (max-width: 480px) {
  .layoutUserLogContent {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 0 16px;
    box-sizing: border-box;
  }

  .layoutUserLogContent .ant-space:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -60px;
    flex:1;
  }

  .layoutUserLogContent .search-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: flex-end !important;
    padding:0 20px;
    margin:0;
    gap: 8px;
    margin: 0px;
    flex:0;
  }

  .layoutUserLogContent .search-row .ant-space-item:first-child{
    width:100%;
  }

  .layoutUserLogContent .ant-input-group-wrapper {
    min-width: 90%;
  }

  .layoutUserLogContent .ant-input-group {
    max-width: 100%;
  }

  .layoutUserLogContent .ant-space:nth-child(2) .ant-space-item:nth-child(2){
    order:-1;
    margin-bottom: 12px;
    margin-right:-8px;
  }

  .layoutUserLogContent .ant-space:nth-child(2) .ant-space-item:nth-child(2) .ant-btn:first-child{
    width:80%;
    padding:8px 20px;
    font-size:11px;
    align-self: flex-end;
    margin-left: auto;
  }

  .layoutUserLogContent .spaceContentStart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    padding: 4px 20px !important;
    margin-top: 110px;
    margin-right:10px;
    gap:12px !important;
    box-sizing: border-box;
  }

  .layoutUserLogContent .ant-space {
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
  }

  .layoutUserLogContent .spaceContentStart h3 {
    margin: 0 auto;
    flex-shrink: 0;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  .layoutUserLogContent .spaceContentStart a {
    pointer-events: auto !important;
    z-index: 999 !important;
    position: relative;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    flex-shrink: 0;
    margin-top: 4px;
  }

  .layoutUserLogContent .ant-table-wrapper{
    width:90%;
    align-self: center;
  }

  .layoutUserLogContent .ant-table-thead > tr > th {
    text-align: center !important;
    vertical-align: middle;
  }

  .layoutUserLogContent .ant-table-thead > tr > th:nth-child(2) {
    width: 15% !important;
    white-space: nowrap;
  }

  .layoutUserLogContent .ant-table-tbody > tr > td:nth-child(2) {
    width: 15% !important;
    white-space: nowrap;
  }

  .layoutUserLogContent .ant-table-thead > tr > th:nth-child(3) {
    width: 10% !important;
    white-space: nowrap;
  }

  .layoutUserLogContent .ant-table-tbody > tr > td:nth-child(3) {
    width: 10% !important;
    white-space: nowrap;
  }

  .layoutUserLogContent .ant-table-tbody > tr > td {
    text-align: center;
    vertical-align: middle;
  }
  .layoutUserLogContent .ant-table-tbody > tr > td a {
    white-space: nowrap;
}

  .layoutUserLogContent .ant-table-expanded-row > .ant-table-cell {
    text-align: center;
  }

  .layoutUserLogContent .ant-table-expanded-row .ant-table-wrapper{
    width:100%;
  }

  .layoutUserLogContent .ant-pagination {
    display: flex;
    justify-content: flex-end;
    padding:0;
    margin: 0 auto;
    margin: 10px 0 0 10px;
    width:auto;
    flex-wrap: nowrap;
  }
}
