* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e9ecef;
  color: #333;
  line-height: 1.6;
}

h1 {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 15px;
  font-size: 2rem;
}

h3 {
  margin-bottom: 10px;
  color: #555;
}

p {
  font-size: 1.2rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 20px auto;
  line-height: 1.5;
}


/* Module Selection */
.module-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5; /* Same background to match overall */
}

h1 {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

#module-select {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007BFF;  /* Matches play button style */
  color: white;
  padding: 10px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0069d9;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #0056b3;
}


/*moduleselection*/
.nav-menu {
  display: none; /* Initially hide the menu */
}

.nav-menu.show {
  display: block; /* Show the menu when 'show' class is applied */
}


/* Additional styles for nav-menu */
.nav-menu {
  list-style-type: none;
  padding: 10px;
  background-color: #f0f0f0;
  position: absolute;
  top: 60px; /* Adjust position as needed */
  right: 40px; /* Adjust position as needed */
  z-index: 100;
  border: 1px solid #ccc;
}

/* Styling the menu items */
.nav-menu li {
  margin: 10px 0;
  cursor: pointer;
  color: black;
}

.nav-menu :last-child{
  color:#4DBDB1;
}

.nav-menu li:hover {
  background-color: rgba(73, 198, 185, 0.1);
}

/* Hamburger icon styling */
.hamburger {
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0px; /* Adjust position as needed */
  right: 20px; /* Adjust position as needed */
  z-index: 100;
}
